VerticalScroll {
    min-height: 100vh;
    background: black;
    align: center top;
    scrollbar-size: 1 1;
    scrollbar-color: #7F00FF;
    scrollbar-color-hover: #7F00FF 85%;
    scrollbar-color-active: #7F00FF 85%;
}

Container {
    height: auto;
    align: center middle;
}

Horizontal {
    height: auto;
    align: center middle;
}

Header {
    background: #7F00FF;
}

Footer {
    background: #7F00FF;
}

#main_container {
    padding: 1 1 1 1;
}

Label {
    padding-left: 1;
    color: #7F00FF;
}

Input {
    width: 1fr;
    background: black;
    border: round #7F00FF;
}

#loader_container {
    display: none;
}

#summary_container {
    display: none;
}

#summary_box {
    border: panel #7F00FF;
    border-title-background: #7F00FF;
    border-title-color: black;
    border-title-style: bold;
    border-title-align: center;
}

#summary {
    height: 12;
    padding: 1 2;
    background: black;
    color: white;
    border: none;
}

#button_container {
    layout: horizontal;
    align-horizontal: center;
    margin: 1 0;
}

Button {
    background: black;
    color: #7F00FF;
    border: double #7F00FF;
}

#copy_btn {
    padding: 1 0;
    background: #7F00FF;
    color: black;
    border: none;
}

Toast {
    padding: 0 1;
    background: #0E0E0E;
    border: heavy #0DE718;
}

Toast .toast--title {
    color: #0DE718;
}

Toast.-warning {
    border: heavy orange;
}

Toast.-warning .toast--title {
    color: orange;
}

Toast.-error {
    border: heavy red;
}

Toast.-error .toast--title {
    color: red;
}