VerticalScroll {
    min-height: 100vh;
    scrollbar-size: 1 1;
    scrollbar-color: #7F00FF;
    scrollbar-color-hover: #7F00FF 85%;
    scrollbar-color-active: #7F00FF 85%;
    align: center top;
    background: black;
}

Container {
    height: auto;
    align: center middle;
}

Header {
    background: #7F00FF;
}

Footer {
    margin-top: 1;
    background: #7F00FF;
}

Label {
    padding: 1 0 0 1;
}

#file_label {
    color: #7F00FF;
}

#sum_label {
    color: cyan;
}

Input {
    width: 1fr;
    border: round #7F00FF;
    background: black;
}

TextArea {
    border: ascii cyan;
    color: cyan;
}

#button_container {
    layout: horizontal;
    align-horizontal: center;
    margin-top: 1;
    margin-bottom: 1;
}

Button {
    border: double #7F00FF;
    background: black;
    color: #7F00FF;
}

#loader_container {
    display: none;
}

#summary_container {
    display: none;
}